NET "an(0)" LOC = "F17";
NET "an(1)" LOC = "H17";
NET "an(2)" LOC = "C18";
NET "an(3)" LOC = "F15";

NET "cx(0)" LOC = "L18";
NET "cx(1)" LOC = "F18";
NET "cx(2)" LOC = "D17";
NET "cx(3)" LOC = "D16";
NET "cx(4)" LOC = "G14";
NET "cx(5)" LOC = "J17";
NET "cx(6)" LOC = "H14";
NET "cx(7)" LOC = "C17";

NET "rst" LOC = "B18";
NET "clk" LOC = "B8";

NET "hall" LOC = "L15";
