NET "led(0)" LOC = "J14";
NET "led(1)" LOC = "J15";
NET "led(2)" LOC = "K15";
NET "led(3)" LOC = "K14";
NET "led(4)" LOC = "E17";
NET "led(5)" LOC = "P15";
NET "led(6)" LOC = "F4";
NET "led(7)" LOC = "R4";

NET "SW(0)" LOC = "G18";
NET "SW(1)" LOC = "H18";
NET "SW(2)" LOC = "K18";
NET "SW(3)" LOC = "K17";
NET "SW(4)" LOC = "L14";
NET "SW(5)" LOC = "L13";
NET "SW(6)" LOC = "N17";
NET "SW(7)" LOC = "R17";

NET "SEL_PR(0)" LOC = "B18";
NET "SEL_PR(1)" LOC = "D18";

NET "PWM_OUT" LOC = "L15";

#NET "ENABLE" LOC = "E18";
NET "RST" LOC = "H13";
NET "CLK" LOC = "B8";